html, body {
  padding: 0;
  margin: 0;
}

body {
  background: #ffffff;
  color: #c8c3bf;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  padding: 10px;
  border: 3px solid rgb(156, 43, 43);
  background-color: rgb(156, 43, 43);
}

.beginpagina {
  list-style: none; 
  display: flex; 
  gap: 20px; 
  padding: 0;
  margin: 0;
  justify-content: left; 
}

.beginpagina li a {
  display: block;
  padding: 15px 40px; 
  text-decoration: none; 
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #a83232; 
  border-radius: 8px;
}

.beginpagina li a:hover {
  background-color: #ff4c4c; 
}

#homeplaatje {
  background-image: url(../images/chinese1.jpg); 
  height: 1000px; 
  width: auto; 
  background-size: cover;
  background-position: right center;
  position: relative;
}
 
.tekstplaatje { 
  text-align: center;
  color: white;
}

.tekstplaatje h1 { 
  margin: 0;
  font-size: 60px;
  color: #ffffff;
  
}

.tekstplaatje p {
  margin: 10px;
  font-size: 40px;
  color: white;
}

.homepage img {
  height: 70px;
  float: left;
}

#containerblokjes {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 760px;
}

.blokjes {
  width: 250px;
  height: 200px;
  background-color: rgb(231, 216, 216);
  margin: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(12, 12, 12);
  text-align: center;
  border: black solid;
  border-radius: 5px;
}

.blokjes h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.blokjes p {
  font-size: 14px;
  margin-top: 10px;
}

.blokjes a {
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 8px;
}


  



    




