html, body {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(156, 43, 43);
  color: #c8c3bf;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  padding: 10px;
  border: 3px solid rgb(156, 43, 43);
  background-color: rgb(156, 43, 43);
}

.beginpagina {
  list-style: none; 
  display: flex; 
  gap: 20px; 
  padding: 0;
  margin: 0;
  justify-content: left; 
}

.beginpagina li a {
  display: block;
  padding: 15px 40px; 
  text-decoration: none; 
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #a83232; 
  border-radius: 8px;
}

.beginpagina li a:hover {
  background-color: #ff4c4c; 
}

#homeplaatje {
  background-image: url(../images/chinese1.jpg); 
  height: 1000px; 
  width: auto; 
  background-size: cover;
  background-position: right center;
  position: relative;
}
 
.tekstplaatje { 
  text-align: center;
  color: white;
}

.tekstplaatje h2 { 
  margin: 0;
  font-size: 60px;
  color: #ffffff;
  
}

.tekstplaatje p {
  margin: 10px;
  font-size: 40px;
  color: white;
}

.homepage img {
  height: 70px;
  float: left;
}

#containerblokjes {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 760px;
}

.blokjes {
  width: 250px;
  height: 200px;
  background-color: rgb(231, 216, 216);
  margin: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(12, 12, 12);
  text-align: center;
  border: black solid;
  border-radius: 5px;
}

.blokjes h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.blokjes p {
  font-size: 14px;
  margin-top: 10px;
}

.blokjes a {
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #000000;
  border-radius: 8px;
}

.Openingstijden {
  color: #000000;
  display: block;
  background-color: rgb(231, 216, 216);
  height: 400px;
  width: 400px;
  padding: 15px 40px;
  margin: 50px;
  border: solid;
}

.Openingstijden li {
  font-size: 20px;
} 

.Openingstijden h3 {
  font-size: 35px;
}

.menuheader { 
  text-align: center;
  padding: 80px 20px 40px 20px;
  background-color: #000000;
  color: white;
}  

.menuheader h1 {
  font-size: 50px;
  margin: 0;
}

.menuheader p {
  font-size: 20px;
  margin-top: 15px;
}

.menucategorie {
  padding: 40px 10px;
}

.menucategorie h2 {
  color: #e6dfdf;
  font-size: 36px;
  border-bottom: 3px solid #000000;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.menuitem {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dbdada;
}

.menuitem h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-bottom: 5px;
}

.menuitem p {
  font-size: 15px;
  color: #000000;
}

.prijs {
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

.menuitem img {
  border-radius: 6px;
  margin-bottom: 10px;
  height: 200px;
}
 

