html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #fcfcfc;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
}

.beginpagina {
    display: flex;
}
    
a:hover, li:hover {
    background-color: #ffffff;
    font-variant: small-caps;
}

.beginplaatje {
    background-image: url(../images/restaurant\ po.jpg\ 2.jpg);
    height: 600px;
    width: 500px;

}

