html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #fcfcfc;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
a:hover, li:hover {
    background-color: #ffffff;
    font-variant: small-caps;
}

#container {
  padding: 10px;
  border: 3px, solid, black;
  background-color: rgb(156, 43, 43);
}

#homeplaatje {
   background-image: url(../images/chinese1.jpg); 
   background-color: red;
    height: 700px; 
    width: auto; 
    background-size: cover;
    background-position: right top;
    /* object-fit: cover; 
    filter: brightness(70%);
    background-repeat: no-repeat; */
}
 
.tekstplaatje {
  position: absolute;
}
    
#containerplaatje {
  position: relative;
}
  

    




