html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  padding: 10px;
  border: 3px solid rgb(156, 43, 43);
  background-color: rgb(156, 43, 43);
}

.beginpagina {
  list-style: none; 
  display: flex; 
  gap: 20px; 
  padding: 0;
  margin: 0;
  justify-content: left; 
}

.beginpagina li a {
   display: block;
    padding: 15px 40px; 
    text-decoration: none; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #a83232; 
    border-radius: 8px;
}

.beginpagina li a:hover {
    background-color: #ff4c4c; 
}

#homeplaatje {
   background-image: url(../images/chinese1.jpg); 
    height: 750px; 
    width: auto; 
    background-size: cover;
    background-position: right center;
   
}
 
.tekstplaatje {
 top: 40%;
 left: 50%;
 text-align: center;
 color: white;
}

.tekstplaatje h1 { 
  margin: 0;
  font-size: 40px;
  color: #ffffff;
  
}

.tekstplaatje p {
  margin: 10px;
  font-size: 18px;
  color: white;
}

.homepage img {
  height: 70px;
  float: left;
}

#containerblokjes {
  display: flex;
  justify-content: center;
}

.blokjes {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  margin: 100px;
}

  



    




