html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #f5f5f5;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
    padding-left: 10%;
}

.Beginpagina {
margin: 40px

}
