html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #fcfcfc;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
    
a:hover, li:hover {
    background-color: #ffffff;
    font-variant: small-caps;
}

#container {
  margin: 15px auto;
  padding: 10px;
  border: 3px, solid, black;

 ul {
    display: flex;
    margin: 10px;
    
  }

    


}

